:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
main {
  width: 100%;
  display: grid;
  place-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#input {
  visibility: hidden;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  &#game .words {
    max-width: 800px;
    background-color: #30383f;
    padding: 15px 30px;
    border-radius: 16px;
    margin: 0 10px;
  }
  p {
    text-align: center;
    font-size: 1.5rem;
    .active {
      color: yellow;
      text-decoration: underline;
    }
    .correct {
      color: green;
    }
    .incorrect {
      color: red;
      text-decoration: underline;
    }
  }
}
.reload {
  width: fit-content;
  padding: 5px;
  margin-top: 15px;
  display: grid;
  place-items: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #4e4e4e;
  transition: background-color 0.5s ease;
  &:hover {
    background-color: #8d8b8b;
  }
}

.result-animation * {
  opacity: 0;
  animation: show-results 0.6s ease-in-out forwards;
}

@keyframes show-results {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
